#root {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
}

body {
  background-color: #F1FAEE;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.links {
  text-decoration: none;
}

.ArticleCard {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #0a1e21;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.CommentCard {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #0a1e21;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.commentLink {

  text-align: right;
}

.articleInfo {
  font-size: 0.8rem;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%; 
}

.header {
  display: flex;
  z-index: 2;
  justify-content: space-between;
  background-color: #457B9D;
  position: sticky;
  top: 0px;
}

.deleteIcon {
  width: 2rem
}

.navBar { 

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  position: fixed; /* absolute onscroll parralax */
  bottom: 0px;
  background-color: #0a1e21;
  color: #ffffff;
  margin: 0px;
  padding: 30px 0px;
  
  width: 100%;
  text-align: center;

  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.titlebar {
  background-color: #457B9D;
  position: sticky;
  padding: 10px;
  font-size: 25px;
  letter-spacing:2px;
  margin: 0px;
  margin-top: 9px;
  font-weight: bold;
  color: #F1FAEE;
  padding-left: 28px;
}

h1 {
  text-align: left;
}

.links {
  text-decoration: none;
  color: antiquewhite;
}

h3 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.2rem;
}

p {
  margin: 5px
}

ul {
  list-style: none;
  margin-right: 40px;
}

/* =======
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

.titlebar {
  background-color: #457B9D;
  padding: 10px;
  font-size: 25px;
  letter-spacing:2px;
  margin: 0px;
  margin-top: 20px;
  font-weight: bold;
  color: #F1FAEE;
  padding-left: 28px;
}

h1 {
  text-align: left;
}

.links {
  text-decoration: none;
  color: antiquewhite;
}

.currUser{
  padding:22px;
  color: antiquewhite;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  
}

h3 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.2rem;
}

p {
  margin: 5px
}

ul {
  list-style: none;
  margin-right: 40px;
}


.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #457B9D;
  border: #0a1e21;
  margin-right: 10px;
}

.radioButton {
  width:50px;
  position: center
}


/* Dropup Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}