#root {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
}

body {
  background-color: #F1FAEE;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.links {
  text-decoration: none;
}

.ArticleCard {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #0a1e21;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.CommentCard {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #0a1e21;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.commentLink {

  text-align: right;
}

.articleInfo {
  font-size: 0.8rem;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%; 
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #457B9D;
  position: sticky;
  top: 0px;
}

.navBar { 

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  position: fixed; /* absolute onscroll parralax */
  bottom: 0px;
  background-color: #0a1e21;
  color: #ffffff;
  margin: 0px;
  padding: 30px 0px;
  
  width: 100%;
  text-align: center;

  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.titlebar {
  background-color: #457B9D;
  position: sticky;
  padding: 10px;
  font-size: 25px;
  letter-spacing:2px;
  margin: 0px;
  margin-top: 9px;
  font-weight: bold;
  color: #F1FAEE;
  padding-left: 28px;
}

h1 {
  text-align: left;
}

.links {
  text-decoration: none;
  color: antiquewhite;
}

h3 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.2rem;
}

p {
  margin: 5px
}

ul {
  list-style: none;
  margin-right: 40px;
}

/* =======
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

.titlebar {
  background-color: #457B9D;
  padding: 10px;
  font-size: 25px;
  letter-spacing:2px;
  margin: 0px;
  margin-top: 9px;
  font-weight: bold;
  color: #F1FAEE;
  padding-left: 28px;
}

h1 {
  text-align: left;
}

.links {
  text-decoration: none;
  color: antiquewhite;
}

h3 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.2rem;
}

p {
  margin: 5px
}

ul {
  list-style: none;
  margin-right: 40px;
}


